h2{
    
    color:black;
    text-align:center
}

.top{
    background-color:#adf9ea;
}

.profile{
    background-color:#93e9d8;
}
.hobbies{
    background-color:#adf9ea;
}
.skills{
    background-color:#93e9d8;
}
#space{
    padding-right:100px;
    
}

#map{
    background-color:#93e9d8;
}

#end{
    background-color:#adf9ea;
}